body {
    background-color: black;
    color: white;
}

h1 {
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#text {
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#startButton {
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin: 0 auto;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

#startButton:hover {
    box-shadow: 0 12px 16px 0 rgb(255, 255, 255),0 17px 50px 0 rgb(255, 255, 255);
  }

#auswahl {
    height: 150px;
    width: 600px;
    color: white;
    margin: 0 auto;
    display: block;
    text-align: center;
    display: block;

}

#opt1, #opt2 {
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    /* margin: 0 auto; */
    margin-left: 10%;
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
} 

#opt2:hover {
    box-shadow: 0 12px 16px 0 rgb(255, 255, 255),0 17px 50px 0 rgb(255, 255, 255);
  }

#opt1:hover {
    box-shadow: 0 12px 16px 0 rgb(255, 255, 255),0 17px 50px 0 rgb(255, 255, 255);
  }

p {
    text-align: center;
    font-size: 50px;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

#ctBereich {
    height: 150px;
    width: 600px;
    color: white;
    margin: 0 auto;
    display: block;
    text-align: center;
    display: block;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 45px;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
    }

    #text {
        font-size: 15px;
        text-align: center;
        font-weight: lighter;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    #startButton {
        background-color: white;
        border: none;
        color: black;
        text-align: center;
        text-decoration: none;
        font-size: 30px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        margin: auto;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bolder;
    }

    #containerStart{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
    }

    #auswahl {
        height: 150px;
        width: 300px;
        color: white;
        margin: 0 auto;
        display: block;
        text-align: center;
        display: block;
    
    }

    #ctBereich {
        height: 150px;
        width: 300px;
        color: white;
        margin: 0 auto;
        display: block;
        text-align: center;
        display: block;
    }

    #opt1, #opt2 {
        background-color: #ffffff;
        border: none;
        color: black;
        padding: 15px 32px;
        margin: auto;
        margin-bottom: 10px;    
        text-decoration: none;
        font-size: 15px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        /* margin: 0 auto; */
        display: block;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: normal;
        width: 70%;
    } 
    

}